<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClOEN0KJM5C6mpiM8Lf66CiAFu8zNwUQM</string>
	<key>GCM_SENDER_ID</key>
	<string>978976210828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeze.apps.Flash-Chat-App</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-app-fcd12</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-app-fcd12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978976210828:ios:6012d162311cc2d1f220a9</string>
</dict>
</plist>